# SEC Filings

In [20]:
df = pd.read_excel("litigation-funding-awards-list//litigation-funding-top.xlsx")

In [21]:
df

,Unnamed: 0,Firm,Location,Lawdragon Global 100 Leaders in Legal Finance 2021,Chambers Ranking,WWL_Third_Party_Funding,site,Unnamed: 7,Funding,News
0,NaN,Affiniti Finance,London,NaN,NaN,WWL,https://affinitifinance.co.uk/,NaN,NaN,NaN
1,NaN,Asertis,Cheshire,NaN,Band-5-UK,NaN,About Us | Commercial Disputes & Insolvency Li...,NaN,NaN,NaN
2,NaN,Augusta Ventures,London,Lawdragon Global 100 Leaders in Legal Finance ...,Band-3-UK,WWL,https://www.augustaventures.com/,NaN,NaN,NaN
3,NaN,Balance Legal Capital,London,Lawdragon Global 100 Leaders in Legal Finance ...,Band-3-UK,WWL,https://www.balancelegalcapital.com/tag/litiga...,NaN,NaN,NaN
4,NaN,Bench Walk Advisors,"Wilmington, Del.",Lawdragon Global 100 Leaders in Legal Finance ...,Band-4,WWL,https://benchwalk.com/,NaN,NaN,NaN
5,NaN,Brickell Key,Miami,NaN,NaN,WWL,https://www.bkaml.com/,NaN,NaN,NaN
6,NaN,Burford Capital,New York,Lawdragon Global 100 Leaders in Legal Finance ...,Band-1,WWL,https://www.burfordcapital.com/,Public Company,NaN,NaN
7,NaN,Curiam Capital,New York,Lawdragon Global 100 Leaders in Legal Finance ...,Band-4,WWL,https://www.curiam.com/,NaN,NaN,NaN
8,NaN,Delta Capital Partners,Chicago,Lawdragon Global 100 Leaders in Legal Finance ...,NaN,NaN,https://www.deltacph.com/,NaN,NaN,NaN
9,NaN,Deminor,London,Lawdragon Global 100 Leaders in Legal Finance ...,NaN,NaN,https://drs.deminor.com/en/,NaN,NaN,NaN
10,NaN,Drumcliffe LLC,Baltimore,NaN,NaN,WWL,http://drumcliffepartners.com/,NaN,NaN,NaN
11,NaN,Exton Advisors,London,Lawdragon Global 100 Leaders in Legal Finance ...,NaN,NaN,https://extonadvisors.com/,NaN,NaN,NaN
12,NaN,Fortress Investment Group,New York,Lawdragon Global 100 Leaders in Legal Finance ...,Band-1,WWL,https://www.fortress.com/,NaN,NaN,NaN
13,NaN,GLS Capital,Chicago,Lawdragon Global 100 Leaders in Legal Finance ...,Band-3,WWL,https://www.glscap.com/,NaN,NaN,NaN
14,NaN,Harbour,London,Lawdragon Global 100 Leaders in Legal Finance ...,Band-1-UK,WWL,https://harbourlitigationfunding.com/,NaN,NaN,NaN
15,NaN,Innsworth,London,NaN,NaN,WWL,https://www.innsworth.com/,NaN,NaN,NaN
16,NaN,Juris Capital,Chicago,Lawdragon Global 100 Leaders in Legal Finance ...,NaN,NaN,https://www.juriscapitalcorp.com/,NaN,NaN,NaN
17,NaN,Lake Whillans,New York,Lawdragon Global 100 Leaders in Legal Finance ...,Band-3,WWL,https://lakewhillans.com/contact/,NaN,NaN,NaN
18,NaN,LexShares,New York,Lawdragon Global 100 Leaders in Legal Finance ...,Band-5,NaN,https://www.lexshares.com/,NaN,NaN,NaN
19,NaN,LionFish Litigation Finance,London,NaN,Band-5-UK,NaN,https://www.lflf.co.uk/,NaN,NaN,NaN
20,NaN,Litigation Capital Management,London,Lawdragon Global 100 Leaders in Legal Finance ...,Band-3-UK,WWL,https://www.lcmfinance.com/,NaN,NaN,NaN
21,NaN,Longford Capital,Chicago,Lawdragon Global 100 Leaders in Legal Finance ...,Band-2,WWL,https://www.longfordcapital.com/litigation-fin...,NaN,NaN,NaN
22,NaN,Manolete Partners PLC,London,NaN,Band-5-UK,WWL,https://www.manolete-partners.com/,NaN,NaN,NaN
23,NaN,Marsh,Chicago,NaN,NaN,WWL,https://www.marsh.com/uk/home.html,NaN,NaN,NaN
24,NaN,Nivalion,Munich,Lawdragon Global 100 Leaders in Legal Finance ...,NaN,NaN,https://nivalion.com/,NaN,NaN,NaN
25,NaN,Omni Bridgeway,New York,Lawdragon Global 100 Leaders in Legal Finance ...,Band-1,WWL,https://omnibridgeway.com/,NaN,NaN,NaN
26,NaN,Orchard Global Asset Management,London,NaN,Band-4-UK,WWL,https://www.orchardgroup.com/home,NaN,NaN,NaN
27,NaN,Parabellum Capital,New York,Lawdragon Global 100 Leaders in Legal Finance ...,Band-3,WWL,https://www.parabellumcap.com/,NaN,NaN,NaN
28,NaN,Profile Investment,London,NaN,NaN,WWL,https://profileinvestment.com/,NaN,NaN,NaN
29,NaN,Redbreast Litigation Finance,The Hague,Lawdragon Global 100 Leaders in Legal Finance ...,NaN,NaN,https://redbreast.com/,NaN,NaN,NaN
30,NaN,Redress Solutions,London,NaN,NaN,WWL,https://redresssolutions.co.uk/,NaN,NaN,NaN
31,NaN,Statera Capital,Chicago,Lawdragon Global 100 Leaders in Legal Finance ...,NaN,NaN,https://stateracap.com/,NaN,NaN,NaN
32,NaN,The D.E. Shaw Group,New York,Lawdragon Global 100 Leaders in Legal Finance ...,NaN,NaN,https://www.deshaw.com/,NaN,NaN,NaN
33,NaN,Therium Capital,New York,Lawdragon Global 100 Leaders in Legal Finance ...,Band-2,WWL,https://www.therium.com/us/,NaN,NaN,NaN
34,NaN,TRGP Capital,New York,Lawdragon Global 100 Leaders in Legal Finance ...,NaN,NaN,https://www.trgpcap.com/,NaN,NaN,NaN
35,NaN,Validity Finance,New York,Lawdragon Global 100 Leaders in Legal Finance ...,Band-3,WWL,https://validityfinance.com/,NaN,NaN,NaN
36,NaN,Vannin Capital,London,Lawdragon Global 100 Leaders in Legal Finance ...,Band-3-UK,NaN,https://vannin.com/,NaN,NaN,NaN
37,NaN,Veridis,Tampa,Lawdragon Global 100 Leaders in Legal Finance ...,Band-5,NaN,https://www.veridismgmt.com/,NaN,NaN,NaN
38,NaN,Woodsford Litigation Funding,New York,Lawdragon Global 100 Leaders in Legal Finance ...,Band-4,WWL,https://woodsfordlitigationfunding.com/,NaN,NaN,NaN

In [ ]:
#

Description

Source: https://www.sec.gov/dera/data/financial-statement-and-notes-data-set.html


Central Index Key: 0001714174


<SEC-DOCUMENT>0001104659-22-022919.txt : 20220214
<SEC-HEADER>0001104659-22-022919.hdr.sgml : 20220214
<ACCEPTANCE-DATETIME>20220214163026
ACCESSION NUMBER:		0001104659-22-022919
CONFORMED SUBMISSION TYPE:	6-K
PUBLIC DOCUMENT COUNT:		3
CONFORMED PERIOD OF REPORT:	20220214
FILED AS OF DATE:		20220214
DATE AS OF CHANGE:		20220214

FILER:

	COMPANY DATA:	
		COMPANY CONFORMED NAME:			Burford Capital Ltd
		CENTRAL INDEX KEY:			0001714174
		STANDARD INDUSTRIAL CLASSIFICATION:	FINANCE SERVICES [6199]
		IRS NUMBER:				000000000
		STATE OF INCORPORATION:			Y7
		FISCAL YEAR END:			1231

	FILING VALUES:
		FORM TYPE:		6-K
		SEC ACT:		1934 Act
		SEC FILE NUMBER:	001-39511
		FILM NUMBER:		22632901

	BUSINESS ADDRESS:	
		STREET 1:		OAK HOUSE
		STREET 2:		HIRZEL STREET
		CITY:			ST PETER PORT
		STATE:			Y7
		ZIP:			GY1 2NP
		BUSINESS PHONE:		44 (0)1481 723450

	MAIL ADDRESS:	
		STREET 1:		OAK HOUSE
		STREET 2:		HIRZEL STREET
		CITY:			ST PETER PORT
		STATE:			Y7
		ZIP:			GY1 2NP

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

/Users/sm/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

SEC Example: Burford Capital Ltd.

https://www.sec.gov/edgar/browse/?CIK=1714174&owner=exclude

In [3]:
#SEC data types

TXT dataset 

The TXT data set contains non-numeric data, one row per data point in the financial statements. The source for the table is the "as filed" XBRL filer submissions.

* adsh: Accession Number. The 20-character string formed from the 18-digit number assigned by the Commission to each EDGAR submission. *
* tag: The unique identifier (name) for a tag in a specific taxonomy release.
* version: For a standard tag, an identifier for the taxonomy; otherwise the accession number where the tag was defined.  For example, "invest/2013" indicates that the tag is defined in the 2013 INVEST taxonomy.
* ddate: The end date for the data value, rounded to the nearest month end.
* qtrs: The count of the number of quarters represented by the data value, rounded to the nearest whole number. A point in time value is represented by 0.
* durp: The difference between the reported fact duration and the quarter duration (qtrs), expressed as a fraction of 1.  For example, a fact with duration of 120 days rounded to a 91-day quarter has a durp value of 29/91 = +0.3187.
* datp: The date proximity in number of days between end date reported and month-end rounded date.
* dimh: The 32-byte hexadecimal key for the dimensional information in the DIM data set. *
* coreg: If specified, indicates a specific co-registrant, the parent company, or other entity (e.g., guarantor).  NULL indicates the consolidated entity.  Note that this value is a function of the dimension segments.
* escaped: Flag indicating whether the value has had tags removed.
* footnote: The plain text of any superscripted footnotes on the value, as shown on the page, truncated to 512 characters, or if there is no footnote, then this field will be blank.
*context: The value, with all whitespace normalized, that is, all sequences of line feeds, carriage returns, tabs, non-breaking spaces, and spaces having been collapsed to a single space, and no leading or trailing spaces.  Escaped XML that appears in EDGAR "Text Block" tags is processed to remove all mark-up (comments, processing instructions, elements, attributes).  The value is truncated to a maximum number of bytes.  The resulting text is not intended for end user display but only for text analysis applications.

In [4]:
df_test1 = pd.read_csv("sec-data//2021_12_notes//txt.tsv", 
                 sep='\t', 
                 na_values=[0],
                 encoding="latin-1")
df_test1

/Users/sm/.pyenv/versions/3.10.0/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adsh,tag,version,ddate,qtrs,iprx,lang,dcml,durp,datp,dimh,dimn,coreg,escaped,srclen,txtlen,footnote,footlen,context,value
0,0001104659-21-149306,OrganizationConsolidationAndPresentationOfFina...,us-gaap/2020,20210930,3.0,NaN,en-US,32767,0.019179,NaN,0x00000000,NaN,NaN,1.0,14355.0,10701.0,NaN,NaN,Duration_1_1_2021_To_9_30_2021_RwCPA6c1GkyrMOE...,"1. Organization, Business Operations. Incorpor..."
1,0001104659-21-149560,OrganizationConsolidationAndPresentationOfFina...,us-gaap/2020,20210930,3.0,NaN,en-US,32767,0.019179,NaN,0x00000000,NaN,NaN,1.0,12319.0,9175.0,NaN,NaN,Duration_1_1_2021_To_9_30_2021_-D0OjqPQ9UywHQZ...,1. NATURE OF BUSINESS AND BASIS OF PRESENTATIO...
2,0001104659-21-149308,OrganizationConsolidationAndPresentationOfFina...,us-gaap/2020,20201231,4.0,NaN,en-US,32767,0.482192,NaN,0x00000000,NaN,NaN,1.0,17429.0,14660.0,NaN,NaN,Duration_2_14_2020_To_12_31_2020_1uTU7qmFN0u03...,NOTE 1. DESCRIPTION OF ORGANIZATION AND BUSINE...
3,0001104659-21-149308,OrganizationConsolidationAndPresentationOfFina...,us-gaap/2020,20210930,3.0,NaN,en-US,32767,0.019179,NaN,0x00000000,NaN,NaN,1.0,18120.0,14832.0,NaN,NaN,Duration_1_1_2021_To_9_30_2021_J8h0TwBpskSZgk7...,NOTE 1. DESCRIPTION OF ORGANIZATION AND BUSINE...
4,0001104659-21-149304,OrganizationConsolidationAndPresentationOfFina...,us-gaap/2020,20201231,4.0,NaN,en-US,32767,NaN,NaN,0x00000000,NaN,NaN,1.0,16072.0,11749.0,NaN,NaN,Duration_1_1_2020_To_12_31_2020_yzcIljh5FkytHG...,"Note 1 Organization, Business Operations and ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216339,0001851734-21-000150,PreferredStockConvertibleConvertibilityPeriodA...,0001851734-21-000150,20210930,4.0,NaN,en-US,32767,0.010959,NaN,0x4691ecbf0e988ab14c2ac92e14526f4d,1.0,NaN,NaN,5.0,5.0,NaN,NaN,d_2020-10-01_2021-09-30_StatementClassOfStockA...,P540D
216340,0001851734-21-000150,ClassOfWarrantOrRightVestingPeriod,0001851734-21-000150,20210930,4.0,NaN,en-US,32767,0.010959,NaN,0x4900faa658fb084ad16a3fd6fd5a0af9,2.0,NaN,NaN,3.0,3.0,NaN,NaN,d_2020-10-01_2021-09-30_RangeAxis-MinimumMembe...,P2Y
216341,0001851734-21-000150,ClassOfWarrantOrRightVestingPeriod,0001851734-21-000150,20210930,4.0,NaN,en-US,32767,0.010959,NaN,0x3af4923144b01b3d138532e549776583,2.0,NaN,NaN,3.0,3.0,NaN,NaN,d_2020-10-01_2021-09-30_RangeAxis-MaximumMembe...,P3Y
216342,0001851734-21-000150,OptionsAndWarrantsExpirationTermFollowingTheFi...,0001851734-21-000150,20210930,4.0,NaN,en-US,32767,0.010959,NaN,0x5cdb3048866236758400d88561b717f0,2.0,NaN,NaN,3.0,3.0,NaN,NaN,d_2020-10-01_2021-09-30_PlanNameAxis-The2012Pl...,P5Y
216343,0001874178-21-000006,TemporaryEquityAndStockholdersEquityDisclosure...,0001874178-21-000006,20210930,3.0,NaN,en-US,32767,0.019179,NaN,0x00000000,NaN,NaN,1.0,47138.0,6365.0,NaN,NaN,ic7191b53929145e2b6408810a6dc89c1_D20210101-20...,CONTINGENTLY REDEEMABLE CONVERTIBLE PREFERRED ...

In [5]:
df_test2 = pd.read_csv("sec-data//2021_12_notes//num.tsv", 
                 sep='\t', 
                 na_values=[0],
                 encoding="latin-1")
df_test2

,adsh,tag,version,ddate,qtrs,uom,dimh,iprx,value,footnote,footlen,dimn,coreg,durp,datp,dcml
0,0001062993-21-011894,WeightedAverageExercisePriceOfShareOptionsOuts...,ifrs/2020,20191231,NaN,CAD,0x833c5d9b45ae0f823524a9499bd2029b,NaN,1.400000e-01,NaN,NaN,2.0,NaN,NaN,NaN,2.0
1,0001062993-21-011894,EachSharePurchaseWarrantAssessedValue,0001062993-21-011894,20171231,NaN,CAD,0xb36e98a1603d71c9130dc58a98eb1359,NaN,4.000000e-01,NaN,NaN,1.0,NaN,NaN,-8.0,2.0
2,0001193125-21-344339,ProfitLossAttributableToOwnersOfParent,ifrs/2020,20201031,4.0,CAD,0x00000000,NaN,1.143200e+10,NaN,NaN,NaN,NaN,NaN,NaN,-6.0
3,0001193125-21-344339,NotionalAmount,ifrs/2020,20211031,NaN,CAD,0x330691fdeafe2e135ffc8330e5171705,NaN,5.633500e+10,NaN,NaN,3.0,NaN,NaN,NaN,-6.0
4,0001193125-21-344339,IncreaseDecreaseThroughNetExchangeDifferencesP...,ifrs/2020,20201031,4.0,CAD,0x99090c3ff88704202dc8610a2a65a5a0,NaN,3.800000e+07,NaN,NaN,3.0,NaN,NaN,NaN,-6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780134,0001213900-21-068164,AssetsCurrent,us-gaap/2021,20201231,NaN,USD,0x3c420701a0f700d08abfac656e79c150,NaN,2.587843e+07,NaN,NaN,1.0,NaN,NaN,NaN,NaN
780135,0001213900-21-068164,DueToRelatedPartiesCurrent,us-gaap/2021,20201231,NaN,USD,0x00000000,2.0,1.533700e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780136,0001213900-21-068164,Goodwill,us-gaap/2021,20201231,NaN,USD,0x00000000,1.0,7.097050e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780137,0001493152-21-032787,DeferredRevenue,us-gaap/2021,20210930,NaN,USD,0x00000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780138,0001493152-21-032787,LitigationSettlementAmountAwardedToOtherParty,us-gaap/2021,20210430,NaN,USD,0x7c32cd7a92059d3937907c64606f5c7a,NaN,6.000000e+04,NaN,NaN,1.0,NaN,-0.010958,1.0,NaN

In [6]:
df_test3 = pd.read_csv("sec-data//2021_12_notes//pre.tsv", 
                 sep='\t', 
                 na_values=[0],
                 encoding="latin-1")
df_test3

,adsh,report,line,stmt,inpth,tag,version,prole,plabel,negating
0,0001534992-21-000085,41,17,NaN,NaN,FL,stpr/2018,terseLabel,Florida,NaN
1,0000726958-21-000136,25,11,NaN,NaN,IA,stpr/2018,terseLabel,Iowa,NaN
2,0000726958-21-000136,25,10,NaN,NaN,IL,stpr/2018,terseLabel,Illinois,NaN
3,0000726958-21-000136,25,9,NaN,NaN,NE,stpr/2018,terseLabel,Nebraska,NaN
4,0001104659-21-148150,35,4,NaN,NaN,CA,stpr/2018,terseLabel,California,NaN
...,...,...,...,...,...,...,...,...,...,...
724289,0001493152-21-032787,25,25,NaN,NaN,WarrantMemberMember,0001493152-21-032787,label,Warrant Member [Member],NaN
724290,0001493152-21-032787,23,26,NaN,NaN,WarrantsToPurchaseSharePercentage,0001493152-21-032787,label,Warrant to purchase,NaN
724291,0001493152-21-032787,29,25,NaN,NaN,WilsonBoulevardIncMember,0001493152-21-032787,label,Wilson Boulevard Inc [Member],NaN
724292,0001140361-21-043409,1,6,NaN,NaN,UnitsEachConsistingOfOneClassAOrdinaryShareAnd...,0001140361-21-043409,label,"Units, each consisting of one Class A ordinary...",NaN
724293,0001140361-21-043409,1,5,NaN,NaN,WarrantsEachWholeWarrantExercisableForOneClass...,0001140361-21-043409,label,"Warrants, each whole warrant exercisable for o...",NaN

In [7]:
df_test4 = pd.read_csv("sec-data//2021_12_notes//cal.tsv", 
                 sep='\t', 
                 na_values=[0],
                 encoding="latin-1")
df_test4

,adsh,grp,arc,negative,ptag,pversion,ctag,cversion
0,0001654954-21-013551,3,1,1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,NetIncomeLoss,us-gaap/2020
1,0001477932-21-009337,2,3,1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,NetIncomeLoss,us-gaap/2020
2,0001589526-21-000140,13,2,1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,NetIncomeLoss,us-gaap/2020
3,0000950170-21-005014,2,2,1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,NetIncomeLoss,us-gaap/2020
4,0001589526-21-000140,6,2,-1,OtherComprehensiveIncomeLossPensionAndOtherPos...,us-gaap/2020,NetIncomeLoss,us-gaap/2020
...,...,...,...,...,...,...,...,...
80288,0001193125-21-369238,2,10,1,Liabilities,us-gaap/2020,DerivativeWarrantLiabilities,0001193125-21-369238
80289,0001193125-21-369238,1,16,-1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,FinancingCostsDerivativeWarrantLiabilities,0001193125-21-369238
80290,0001193125-21-369238,3,6,1,NetIncomeLoss,us-gaap/2020,FinancingCostsDerivativeWarrantLiabilities,0001193125-21-369238
80291,0001193125-21-369238,3,4,1,NetIncomeLoss,us-gaap/2020,InvestmentIncomeEarnedOnTheTrustAccount,0001193125-21-369238
80292,0001193125-21-369238,1,14,-1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,InvestmentIncomeEarnedOnTheTrustAccount,0001193125-21-369238

In [8]:
df_test5 = pd.read_csv("sec-data//2021_12_notes//dim.tsv", 
                 sep='\t', 
                 na_values=[0],
                 encoding="latin-1")
df_test5

,dimhash,segments,segt
0,0x00000000,NaN,NaN
1,0x2977c24bdd0932ed12e8bdab0ac5507a,FairValueByFairValueHierarchyLevel=FairValueIn...,NaN
2,0x2af191f282beda4ecf1c9d6c545d255d,FairValueByFairValueHierarchyLevel=FairValueIn...,NaN
3,0x32680e2fbdb93c7342b6017365c1e338,ReserveQuantitiesByTypeOfReserve=NaturalGasRes...,NaN
4,0x39a8013dc39c3ca9a264d4351b983331,PropertyPlantAndEquipmentByType=OilAndGasPrope...,NaN
...,...,...,...
50231,0x7e4053ad3d04f9c2c255b10427ab272d,BusinessAcquisition=CapinnovetInc;,NaN
50232,0x89ad482868e6911ce89ad0b3c376ae6c,BusinessAcquisition=DelfUkLtd;Range=Minimum;,NaN
50233,0x92f15b6d746537a8cf84599499ad602e,BusinessAcquisition=DelfUkLtd;Range=Maximum;,NaN
50234,0x6dbf575abf26da76ea2ede4050d39396,BusinessAcquisition=DelfUkLtd;,NaN
50235,0xe21f7f7271ef2cd3555ed7875213c3af,BusinessAcquisition=CapinnovetInc;Range=Maximum;,NaN

In [9]:
df_test6 = pd.read_csv("sec-data//2021_12_notes//tag.tsv", 
                 sep='\t', 
                 na_values=[0],
                 encoding="latin-1")
df_test6

,tag,version,custom,abstract,datatype,iord,crdr,tlabel,doc
0,FL,stpr/2018,NaN,1.0,member,NaN,NaN,FLORIDA,NaN
1,IA,stpr/2018,NaN,1.0,member,NaN,NaN,IOWA,NaN
2,IL,stpr/2018,NaN,1.0,member,NaN,NaN,ILLINOIS,NaN
3,NE,stpr/2018,NaN,1.0,member,NaN,NaN,NEBRASKA,NaN
4,CA,stpr/2018,NaN,1.0,member,NaN,NaN,CALIFORNIA,NaN
...,...,...,...,...,...,...,...,...,...
123836,WarrantMemberMember,0001493152-21-032787,1.0,NaN,member,D,NaN,Warrant Member [Member],Warrant Member [Member]
123837,WarrantsToPurchaseSharePercentage,0001493152-21-032787,1.0,NaN,percent,D,NaN,Warrant to purchase,Warrant to purchase.
123838,WilsonBoulevardIncMember,0001493152-21-032787,1.0,NaN,member,D,NaN,Wilson Boulevard Inc [Member],Wilson Boulevard Inc [Member]
123839,UnitsEachConsistingOfOneClassAOrdinaryShareAnd...,0001140361-21-043409,1.0,1.0,member,NaN,NaN,"Units, each consisting of one Class A ordinary...",NaN
123840,WarrantsEachWholeWarrantExercisableForOneClass...,0001140361-21-043409,1.0,1.0,member,NaN,NaN,"Warrants, each whole warrant exercisable for o...",NaN

The submissions data set contains summary information about an entire EDGAR submission. Some fields were sourced directly from EDGAR submission information, while other fields of data were sourced from the Interactive Data exhibits of the submission. Note: EDGAR derived fields represent the most recent EDGAR assignment as of a given filing's submission date and do not necessarily represent the most current assignments.

In [10]:
df_test7 = pd.read_csv("sec-data//2020q1_notes//sub.tsv", 
                 sep='\t', 
                 na_values=[0],
                 encoding="latin-1")
df_test7

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,accepted,prevrpt,detail,instance,nciks,aciks,pubfloatusd,floatdate,floataxis,floatmems
0,0000004977-20-000002,4977,AFLAC INC,6321.0,US,GA,COLUMBUS,31999,1932 WYNNTON RD,NaN,...,2020-01-02 07:45:00.0,NaN,NaN,afl8-kxdecember2019xot_htm.xml,1,NaN,NaN,NaN,NaN,NaN
1,0000018498-20-000002,18498,GENESCO INC,5661.0,US,TN,NASHVILLE,37217,GENESCO PK 1415 MURFREESBORO RD,NaN,...,2020-01-02 17:05:00.0,NaN,NaN,a8-ktogast010220_htm.xml,1,NaN,NaN,NaN,NaN,NaN
2,0000052795-20-000004,52795,ANIXTER INTERNATIONAL INC,5063.0,US,IL,GLENVIEW,60026,2301 PATRIOT BLVD,NaN,...,2020-01-02 06:38:00.0,1.0,NaN,a8-kxsecondamendedmerg_htm.xml,1,NaN,NaN,NaN,NaN,NaN
3,0000082811-20-000002,82811,REGAL BELOIT CORP,3621.0,US,WI,BELOIT,53511,200 STATE ST,NaN,...,2020-01-02 09:09:00.0,NaN,NaN,a8-kdec272019cover_htm.xml,1,NaN,NaN,NaN,NaN,NaN
4,0000091767-20-000003,91767,SONOCO PRODUCTS CO,2650.0,US,SC,HARTSVILLE,29551-0160,ONE NORTH SECOND ST,P O BOX 160,...,2020-01-02 11:55:00.0,1.0,NaN,son-20191231_htm.xml,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13556,0001564590-20-014183,1540755,"ANAPLAN, INC.",7372.0,US,CA,SAN FRANCISCO,94105,50 HAWTHORNE STREET,NaN,...,2020-03-30 16:16:00.0,NaN,1.0,plan-10k_20200131_htm.xml,1,NaN,5.680000e+09,20190731.0,NaN,NaN
13557,0001564590-20-014171,1722992,SMTA LIQUIDATING TRUST,6798.0,US,TX,DALLAS,75201,2727 N. HARWOOD ST.,STE. 300,...,2020-03-30 16:10:00.0,NaN,1.0,smta-10k_20191231_htm.xml,1,NaN,3.600000e+08,20190628.0,NaN,NaN
13558,0001564590-20-014167,1770141,"GIGCAPITAL2, INC.",6770.0,US,CA,PALO ALTO,94111,2479 E BAYSHORE RD,STE 200,...,2020-03-30 16:07:00.0,NaN,1.0,gix-20191231.xml,1,NaN,1.881879e+08,20190628.0,NaN,NaN
13559,0001564590-20-014165,1095981,"PLUS THERAPEUTICS, INC.",3841.0,US,TX,AUSTIN,78756,4200 MARATHON BLVD.,SUITE 200,...,2020-03-30 16:07:00.0,NaN,1.0,pstv-20191231.xml,1,NaN,5.400000e+06,20190628.0,NaN,NaN
13560,0001564590-20-014162,1673772,"RAPT THERAPEUTICS, INC.",2834.0,US,CA,SOUTH SAN FRANCISCO,94080,561 ECCLES AVENUE,NaN,...,2020-03-30 16:05:00.0,NaN,1.0,rapt-20191231.xml,1,NaN,1.874000e+08,20191031.0,NaN,NaN

In [26]:
df_test7[df_test7.name.str.contains("OMNI")]

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,accepted,prevrpt,detail,instance,nciks,aciks,pubfloatusd,floatdate,floataxis,floatmems
3167,0000926326-20-000003,926326,"OMNICELL, INC",3571.0,US,CA,MOUNTAIN VIEW,94043,590 E. MIDDLEFIELD ROAD,NaN,...,2020-02-06 16:08:00.0,NaN,NaN,omcl-20200206_htm.xml,1,NaN,NaN,NaN,NaN,NaN
3580,0000891092-20-001606,29989,OMNICOM GROUP INC.,7311.0,US,NY,NEW YORK,10022,437 MADISON AVE,NaN,...,2020-02-11 07:13:00.0,NaN,NaN,e8341-8k_htm.xml,1,NaN,NaN,NaN,NaN,NaN
3839,0000029989-20-000005,29989,OMNICOM GROUP INC.,7311.0,US,NY,NEW YORK,10022,437 MADISON AVE,NaN,...,2020-02-11 16:48:00.0,NaN,1.0,omc-20191231_htm.xml,1,NaN,1.760762e+10,20190630.0,NaN,NaN
4257,0000926326-20-000005,926326,"OMNICELL, INC",3571.0,US,CA,MOUNTAIN VIEW,94043,590 E. MIDDLEFIELD ROAD,NaN,...,2020-02-13 16:29:00.0,NaN,NaN,omcl-20200212_htm.xml,1,NaN,NaN,NaN,NaN,NaN
4871,0000926326-20-000007,926326,"OMNICELL, INC",3571.0,US,CA,MOUNTAIN VIEW,94043,590 E. MIDDLEFIELD ROAD,NaN,...,2020-02-18 16:08:00.0,NaN,NaN,omcl-20200213_htm.xml,1,NaN,NaN,NaN,NaN,NaN
5066,0000891092-20-001829,29989,OMNICOM GROUP INC.,7311.0,US,NY,NEW YORK,10022,437 MADISON AVE,NaN,...,2020-02-18 19:37:00.0,NaN,NaN,e8397_8k_htm.xml,1,NaN,NaN,NaN,NaN,NaN
5874,0000891092-20-001901,29989,OMNICOM GROUP INC.,7311.0,US,NY,NEW YORK,10022,437 MADISON AVE,NaN,...,2020-02-21 16:27:00.0,NaN,NaN,e8442-8k_htm.xml,1,NaN,NaN,NaN,NaN,NaN
6780,0000926326-20-000010,926326,"OMNICELL, INC",3571.0,US,CA,MOUNTAIN VIEW,94043,590 E. MIDDLEFIELD ROAD,NaN,...,2020-02-26 16:09:00.0,NaN,1.0,omcl-20191231_htm.xml,1,NaN,3.500000e+09,20190628.0,NaN,NaN
11946,0000891092-20-003373,29989,OMNICOM GROUP INC.,7311.0,US,NY,NEW YORK,10022,437 MADISON AVE,NaN,...,2020-03-25 08:39:00.0,NaN,NaN,e9007-8k_htm.xml,1,NaN,NaN,NaN,NaN,NaN
13452,0001493152-20-005303,278165,OMNIQ CORP.,7373.0,US,UT,SALT LAKE CITY,84119,1865 WEST 2100 SOUTH,NaN,...,2020-03-30 17:30:00.0,NaN,1.0,omqs-20191231.xml,1,NaN,1.280000e+07,20190630.0,NaN,NaN

In [24]:
df_test7[df_test7.name.str.contains("MERIDIAN")]
# df_de.query("P0020001 == 0")
# df_alive[df_alive.spc_common == 'honeylocust']
# # residential_df[residential_df.complaint_type.str.contains("noise")]

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,accepted,prevrpt,detail,instance,nciks,aciks,pubfloatusd,floatdate,floataxis,floatmems
1656,0000892251-20-000002,794172,MERIDIAN BIOSCIENCE INC,2835.0,US,OH,CINCINNATI,45244,3471 RIVER HILLS DR,NaN,...,2020-01-27 16:08:00.0,1.0,NaN,form8k012720_htm.xml,1,NaN,NaN,NaN,NaN,NaN
1902,0001564590-20-002277,1600125,"MERIDIAN BANCORP, INC.",6021.0,US,MA,EAST BOSTON,02128,10 MERIDIAN STREET,NaN,...,2020-01-28 16:11:00.0,NaN,NaN,ebsb-8k_20200128_htm.xml,1,NaN,NaN,NaN,NaN,NaN
2184,0000892251-20-000004,794172,MERIDIAN BIOSCIENCE INC,2835.0,US,OH,CINCINNATI,45244,3471 RIVER HILLS DR,NaN,...,2020-01-30 10:54:00.0,1.0,NaN,form8k012920_htm.xml,1,NaN,NaN,NaN,NaN,NaN
3782,0001564590-20-004213,1600125,"MERIDIAN BANCORP, INC.",6021.0,US,MA,EAST BOSTON,02128,10 MERIDIAN STREET,NaN,...,2020-02-11 16:11:00.0,NaN,NaN,ebsb-8k_20200207_htm.xml,1,NaN,NaN,NaN,NaN,NaN
3950,0001193125-20-027769,794172,MERIDIAN BIOSCIENCE INC,2835.0,US,OH,CINCINNATI,45244,3471 RIVER HILLS DR,NaN,...,2020-02-07 11:46:00.0,NaN,1.0,d842208d10q_htm.xml,1,NaN,NaN,NaN,NaN,NaN
3955,0001193125-20-027468,794172,MERIDIAN BIOSCIENCE INC,2835.0,US,OH,CINCINNATI,45244,3471 RIVER HILLS DR,NaN,...,2020-02-07 08:38:00.0,1.0,NaN,d881819d8k_htm.xml,1,NaN,NaN,NaN,NaN,NaN
5613,0001193125-20-043212,794172,MERIDIAN BIOSCIENCE INC,2835.0,US,OH,CINCINNATI,45244,3471 RIVER HILLS DR,NaN,...,2020-02-20 14:51:00.0,1.0,NaN,d894550d8k_htm.xml,1,NaN,NaN,NaN,NaN,NaN
7579,0001564590-20-007376,1600125,"MERIDIAN BANCORP, INC.",6021.0,US,MA,EAST BOSTON,02128,10 MERIDIAN STREET,NaN,...,2020-02-27 16:11:00.0,NaN,NaN,ebsb-8k_20200227_htm.xml,1,NaN,NaN,NaN,NaN,NaN
8513,0001564590-20-008151,1600125,"MERIDIAN BANCORP, INC.",6021.0,US,MA,EAST BOSTON,02128,10 MERIDIAN STREET,NaN,...,2020-03-02 16:13:00.0,NaN,1.0,ebsb-10k_20191231_htm.xml,1,NaN,953927091.0,20190628.0,NaN,NaN
11873,0001437749-20-005969,1586454,PRIME MERIDIAN HOLDING CO,6022.0,US,FL,TALLAHASSEE,32308,"1897 CAPITAL CIRCLE, NE",NaN,...,2020-03-24 08:04:00.0,NaN,1.0,pmhg-20191231.xml,1,NaN,50378212.0,20190630.0,NaN,NaN
12225,0001564590-20-012208,1600125,"MERIDIAN BANCORP, INC.",6021.0,US,MA,EAST BOSTON,02128,10 MERIDIAN STREET,NaN,...,2020-03-23 16:13:00.0,NaN,NaN,ebsb-8k_20200320_htm.xml,1,NaN,NaN,NaN,NaN,NaN
13443,0001558370-20-003393,1750735,MERIDIAN CORP,6021.0,US,PA,MALVERN,19355,9 OLD LINCOLN HIGHWAY,NaN,...,2020-03-30 17:31:00.0,NaN,1.0,mrbk-20191231.xml,1,NaN,99618818.0,20190630.0,NaN,NaN

In [13]:
len(df_test7)

13561

In [8]:
df_test8 = pd.read_csv("sec-data//2021_12_notes//cal.tsv", 
                 sep='\t', 
                 na_values=[0],
                 encoding="latin-1")
df_test8

,adsh,grp,arc,negative,ptag,pversion,ctag,cversion
0,0001654954-21-013551,3,1,1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,NetIncomeLoss,us-gaap/2020
1,0001477932-21-009337,2,3,1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,NetIncomeLoss,us-gaap/2020
2,0001589526-21-000140,13,2,1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,NetIncomeLoss,us-gaap/2020
3,0000950170-21-005014,2,2,1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,NetIncomeLoss,us-gaap/2020
4,0001589526-21-000140,6,2,-1,OtherComprehensiveIncomeLossPensionAndOtherPos...,us-gaap/2020,NetIncomeLoss,us-gaap/2020
...,...,...,...,...,...,...,...,...
80288,0001193125-21-369238,2,10,1,Liabilities,us-gaap/2020,DerivativeWarrantLiabilities,0001193125-21-369238
80289,0001193125-21-369238,1,16,-1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,FinancingCostsDerivativeWarrantLiabilities,0001193125-21-369238
80290,0001193125-21-369238,3,6,1,NetIncomeLoss,us-gaap/2020,FinancingCostsDerivativeWarrantLiabilities,0001193125-21-369238
80291,0001193125-21-369238,3,4,1,NetIncomeLoss,us-gaap/2020,InvestmentIncomeEarnedOnTheTrustAccount,0001193125-21-369238
80292,0001193125-21-369238,1,14,-1,NetCashProvidedByUsedInOperatingActivities,us-gaap/2020,InvestmentIncomeEarnedOnTheTrustAccount,0001193125-21-369238